*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

a:active, button:active{
    opacity: 50%;
}

html{
    font-size: 16px;
    line-height: 1.5;
}
body{
    background-color: #eeeeee;
}
nav{
    display: none;
}
.logo{
    display: flex;
}
.logo .paraverse{
    width: 50px;
    padding: 0 .3rem 0;
    border-right: 1px solid rgba(187, 186, 186, 0.327);
}
.logo .gco-connect{
    width: 220px;
    padding: 0 0 0 .3rem;
}
#hamburger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: .3rem;
    border-radius: 10px;
    background-color: #0097c10b;
}
#hamburger .line{
    width: 35px;
    height: 5px;
    border-radius: 10px;
    background-color: #333232;
}
header{
    display: flex;
    padding: .7rem;
    justify-content: space-between;
    border-bottom: 1px solid #bababb;
}


header, .hero-container, .section-header, .section-card, footer{
    background-color: white;
}

#mobile-menu{
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    padding: 1rem 0;
    width: 100%;
    background-color: #0097C1;
    border-top: 1px solid #e5e5e5;
    gap: 1rem;
    display: none;
}
#mobile-menu.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

#mobile-menu ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#mobile-menu li{
    padding: 0 0 1rem 0;
    border-bottom: 1px solid rgb(214, 214, 214);
    text-align: center;
}
#mobile-menu a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

#mobile-menu .menu-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    padding: 0 0 .5rem 0;
    border-bottom: 1px solid rgb(214, 214, 214);
    color: white;
}

#mobile-menu .menu-profile img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
}



.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 1.5rem 0;
}
.hero .greet{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}
.greet h1,h2{
    font-size: 1.8rem;
}
.greet h1{
    color: #DF4F68;
}
.hero p{
    color: #3C3C3C;
    margin: auto;
    font-weight: 600;
}
.hero div p span{
    color: #DF4F68;
}
.hero-container .illustration{
    display: none;
}
.hero .hero-btn{
    margin: 2rem 0 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.hero .text{
    width: 350px;
}
button{
    padding: .5rem .7rem;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    background-color: #0097C1;
    border: 3px solid #0097C1;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-btn .view-services{
    border: 3px solid #CF90FF;
    font-weight: 500;
    color: #BF52FF;
    background-color: white;
}


.steps-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.step{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 140px;
}

.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0097C1;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    z-index: 2;
    font-size: .7rem;
}

.step:not(:last-child)::after{
    content: "";
    position: absolute;
    top: 15px;
    right: -70px;
    width: 150px;
    height: 2px;
    background-color: #0097C1;
    z-index: 1;
}

.step p{
    margin-top: 8px;
    font-size: .5rem;
    text-align: center;
    color: #6b7280;
    font-weight: 600;
}


.section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.section-header p{
    font-size: 1rem;
    font-weight: bold;
}
.section-header .btn-slider{
    display: none;
}
.card-hero img{
    width: 100%;
}
.card-container{
    width: 170px;
    height: 400px;
    background-color: #00ff0029;
    box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.451);
    flex-shrink: 0;
}
.card-hero{
    text-align: center;
    font-weight: 500;
    background-color: #0097c119;
}
.card-desc{
    font-size: 1rem;
    padding: .5rem;
}
.card-desc p{
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.section-card{
    display: flex;
    gap: 30px;
    overflow: scroll;
    padding: 0 1rem 2rem;
    border-bottom: 1px solid #bababb;
}


footer{
    margin: 1rem 0;
    padding: 1rem;
}
footer .gco{
    padding: 0 0 2rem;
}
footer img{
    width: 30px;
}

footer .gco img{
    width: 250px
}
footer p{
    font-size: .7rem;
    color: #989898;
}
footer h2{
    font-size: 1rem;
    color: #767676;
}

footer .edith{
    display: flex;
    gap: 10px;
    color: black;
    font-weight: bold;
}


@media(min-width: 1200px){
    header, main, footer{
        min-width: 400px;
        margin: auto;
    }
    .logo .paraverse{
        width: 80px;
    }
    .logo .gco-connect{
        width: 400px;
    }
    nav a{
        font-size: 1.5rem;
    }
    #hamburger{
        display: none;
    }
    .desktop-menu{
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
    .desktop-menu ul{
        display: flex;
        list-style-type: none;
        gap: 2.5rem;
    }
    .desktop-menu a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    .desktop-menu img{
        width: 50px;
    }
    .desktop-menu div{
        display: flex;
        gap: 2rem;
    }
    .hero .greet h1,h2{
        font-size: 4rem;
    }
    .hero p{
        font-size: 2rem;
    }
    
    .hero-container .illustration{
        display: block;
    }
    .hero-container .illustration img{
        width: 500px;
        height: 500px;
    }
    .hero .greet{
        justify-content: start;
    }
    .hero .text{
        text-align: left;
        width: 500px;
    }
    .hero-container{
        background-color: white;
        border-radius: 20px;
        margin: 3rem;
        justify-content: center;
        gap: 3rem;
        padding: 3rem;
        height: 500px;
        box-shadow: 5px 5px 5px rgb(187, 187, 187);
    }
    .hero-btn{
        display: flex;
        justify-content: center;
        gap: 3rem;
        transform: scale(1.3);
    }

    .steps-container{
        gap: 3rem;
    }
    .circle {
        width: 70px;
        height: 70px;
        font-size: 1.5rem;
        }

        .step p {
        font-size: 1.3rem;
        }

        .step:not(:last-child)::after {
        width: 220px;
        right: -110px;
        top: 33px;
    }


    .section-header{
        margin: 50px 0 0;
    }

    .card{
        width: 90%;
        margin: auto;
        
        box-shadow: 5px 5px 5px rgb(187, 187, 187);
    }
    .card .btn-slider{
        display: flex;
        gap: 1rem;
    }
    .btn-slider button{
        font-size: 2.5rem;
        padding: .7rem 2rem 1rem;
    }
    .section-header p{
        font-size: 1.5rem;
    }

    .card-container{
        width: 400px;
        height: 800px;
    }
    .card-hero p, .card-desc p{
        font-size: 2rem;
        padding: 1rem;
    }


    footer{
        margin: 1rem 0;
        padding: 3rem;
        display: flex;
        justify-content: space-between;
    }
    footer .gco{
        width: 40%;
    }
    footer h2{
        font-size: 1.8rem;
    }
    footer p{
        font-size: 1.5rem;
    }
    footer .gco img{
        width: 400px;
    }
    footer .feu img{
        width: 50px;
        height: 50px;
    }
    .feu{
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .edith p{
        font-size: 1rem;
    }



    a:hover, button:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    a:hover{
        color: #0097C1;
    }
    .view-services:hover, .add-appointment:hover{
        background-color: #DF4F68;
        color: white;
        border: none;
    }
}